body{
    background-color: #232323;
    font-family: 'Gill Sans', 'Gill Sans MT', 'Calibri', 'Trebuchet MS', 'sans-serif';
}

.square{
    width: 30%;
    background-color: aquamarine;
    padding-bottom: 30%;
    float: left;
    margin: 1.66%;
    border-radius: 8%;
    transition: background-color 0.5s;
}

h1{
    color: whitesmoke;
    text-align: center;
    font-weight: normal;
    margin: 0;
}

h2{
    color: whitesmoke;
    font-weight: normal;
    text-align: center;
    background-color:gray;
    margin: 0;
}

#container{
    margin: 20px auto;
    max-width: 600px;
}

span{
    color: white;
}

#stripe{
    background-color: rgb(255, 255, 255);
    height: 30px;
    text-align: center;
}

#selected{
    background-color: rgb(121, 224, 255);
}

#reset{
    height: 30px;
    text-align: inherit;
}

#easyBtn{
    height: 30px;
    text-align: inherit;
}

#hardBtn{
    height: 30px;
    text-align: inherit;
}

.selected {
    color: whitesmoke;
    background: steelblue;
}

button{
    border: none;
    background: none;
    text-transform: uppercase;
    height: 100%;
    font-weight: 650;
    color: steelblue;
    font-size: inherit;
    transition: all .5s;
}

button:hover{
    color: whitesmoke;
    background: steelblue;
}